.images {
    margin-top: 15vh;
}

.images__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.images__cell {
    max-width: 25rem;
}

.images__img {
    border-radius: 5px;
}